<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тестовое задание для inslaes</title>
    <link rel="stylesheet" href="./assets/styles/slick.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="#" class="header__logo">
                    <img src="./assets/images/logo.png" alt="#" class="logo__img">
                </a>
                <ul class="header__nav">
                    <li class="nav__item"><a href="#" class="nav__link nav__link--active">Home</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Style demo</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Full width</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Dropdown</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Gallery</a></li>
                </ul>
            </div>
        </header>
        <section class="section hero">
            <div class="container hero__container">
                <div class="hero__arrows">
                    <button class="arrows__btn arrows__btn--left"><img src="./assets/images/arrow-left.png" alt="#" class="btn__img"></button>
                    <button class="arrows__btn arrows__btn--right"><img src="./assets/images/arrow-right.png" alt="#" class="btn__img"></button>
                </div>
                <div class="hero__slider">
                    <div class="slider__item">
                        <div class="item__content">
                            <h2 class="content__title">Cursus penati saccum nulla.</h2>
                            <p class="content__text">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
                                dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum
                                quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                            <button class="content__btn">Read More Here »</button>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/hero-img.png" alt="#" class="img__img">
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="item__content">
                            <h2 class="content__title">Cursus penati saccum nulla.</h2>
                            <p class="content__text">Nullamlacus dui ipsum conseque loborttis non euisque morbi penas
                                dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum
                                quismodo nulla et feugiat adipiscinia pellentum leo.</p>
                            <button class="content__btn">Read More Here »</button>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/hero-img.png" alt="#" class="img__img">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section products">
            <div class="container products__container">
                <ul class="products__list">
                    <li class="list__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/products-img.png" alt="" class="item__img">
                            <h3 class="item__title">SERVICE TITLE</h3>
                            <p class="item__text">Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/products-img.png" alt="" class="item__img">
                            <h3 class="item__title">SERVICE TITLE</h3>
                            <p class="item__text">Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/products-img.png" alt="" class="item__img">
                            <h3 class="item__title">SERVICE TITLE</h3>
                            <p class="item__text">Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">
                            <img src="./assets/images/products-img.png" alt="" class="item__img">
                            <h3 class="item__title">SERVICE TITLE</h3>
                            <p class="item__text">Vestassapede et donec ut est libe ros sus et eget sed eget quisq ueta habitur augue</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <div class="bg"></div>
    </div>
    <script src="./assets/scripts/jquery.min.js"></script>
    <script src="./assets/scripts/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>